<div class="contact">
    <h2 class="contact-text">Contact Us</h2>
    <div class="two-column">
        <div>
            <form>
                <div class="mb-3 mt-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <button id="submitData" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div>
            <div>
                <h3>Cancellation Policy</h3>
                <p>foo</p>
            </div>
            <div>
                <h3>Hours</h3>
                <p>bar</p>
            </div>
        </div>
    </div>
</div>
