<div class="home-welcome">
    <div class="welcome-text">
        <div class="title">Therapeutic Lymphatic Care</div>
        <p></p>
        <div>When surgery happens, you need a little TLC</div>
        <p></p>
        <div>Decrease Inflamation</div>
        <div>Decrease Bruising</div>
        <div>Increase Healing Response</div>
        <p></p>
        <a href="">BOOK YOUR CONSULTATION</a>
    </div>
</div>
<div class="home-about">
    <h2 class="about-text">About Therapeutic Lymphatic Care</h2>
    <div class="two-column">
        <img src="//img1.wsimg.com/isteam/ip/e6979f44-e482-4efc-88e5-a76f48dc3b3f/blob.png/:/cr=t:6.5%25,l:0%25,w:100%25,h:87%25/rs=w:600,h:300,cg:true" alt="LET">
        <div class="center-text">
            <h4>Lymphatic Enhancement Therapy</h4>
            <p>
                <span>Lymphatic Enhancement Technology (L.E.T.) is a non-invasive, gentle detoxification therapy that is 10x's more effective than regular manual lymphatic modalities. It is used to improve lymphatic integrity and restore lymphatic flow and function faster and more efficiently.</span>
            </p>
        </div>
    </div>
    <div class="two-column odd">
        <div class="center-text">
            <h4>Convenient In Home Care</h4>
            <p>
                <span>After surgery it can be difficult to move around let alone drive to multiple office visits. No need to worry about it, just relax and focus on healing because we come to you.</span>
            </p>
        </div>
        <img src="//img1.wsimg.com/isteam/stock/7390/:/cr=t:12.5%25,l:0%25,w:100%25,h:75%25/rs=w:600,h:300,cg:true" alt="travel">
    </div>
</div>
